<!-- Company Information Section -->
<section id="company-info" class="py-5 text-center bg-light">
  <div class="container">
    <h2 class="mb-4">About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae urna
      a nunc sodales fringilla. Fusce semper nisl eu magna sollicitudin
      ultrices. In eget velit at enim dignissim lacinia id at elit. Sed tempus
      aliquet urna, ac tincidunt elit feugiat eu.
    </p>
  </div>
</section>

<!-- Key Members Section -->
<section id="key-members" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Key Members</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="..\assets\aboutImg\ceo.jpg"
            class="card-img-top"
            alt="Member 1"
            height="250px"
            width="250px"
          />
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <p class="card-text">Co-Founder</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="..\assets\aboutImg\cto.jpg"
            class="card-img-top"
            alt="Member 2"
            height="250px"
            width="250px"
          />
          <div class="card-body">
            <h5 class="card-title">Jane Smith</h5>
            <p class="card-text">CEO</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="..\assets\aboutImg\founder.jpg"
            class="card-img-top"
            alt="Member 3"
            height="250px"
            width="250px"
          />
          <div class="card-body">
            <h5 class="card-title">Mark Johnson</h5>
            <p class="card-text">CTO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
